<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->

  <title>{% block title %}
    site
  {% endblock %}</title>
  {% block imports %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/js/base_data.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  {% endblock %}
  <style>
  {% block style%}
    footer {
    right: 0;
    bottom: 0;
    left: 0;
    height:20%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    }
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
    }
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }
    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
    }
    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
    }
    .container-fluid {
        padding-top: 35px;
        padding-bottom: 70px;
    }

    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    .navbar-nav  li a:hover {
        color: #1abc9c !important;
    }
    /* Dropdown Button */
{# .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} #}

/* The container <div> - needed to position the dropdown content */
{# .dropdown {
  position: relative;
  display: inline-block;
} #}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
{# .dropdown:active .dropdown-content {display: block;} #}

</style>
{% endblock %}

</head>
<body>
{%block navbar%}
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% block nav_bar_options %}
          <!-- <li><a href="/">Inicio</a></li> -->

          <li>
            <div class="dropdown">
              <div class="col">
              <div class="row">
              <a class="navbar-brand"style="cursor: pointer;" onclick="menu()">Opções</a>
              </div>
              <div class="dropdown-content row" id="dropdown-content">
                <a href="/path/filtrar">Pesquisar leituras</a>
                <a href="#">Documentação</a>
                {# <a href="#">Sobre</a> #}
                <a href="https://github.com/Mathe13/rodoviasApp"  target="_blank">Ver app no Github</a>
                <a href="https://github.com/Mathe13/rodoviasApi"  target="_blank">Ver api no Github</a>

              </div>
              </div>
            </div>
          </li>
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
{%endblock%}

<!-- First Container -->
{% block body%}
<div class="container-fluid bg-1 text-center">
    vazio
</div>
{% endblock %}



<!-- Footer -->
<br>
<footer class=" bg-4 text-center;" style:"    padding-top: 15px!important;">
  {% block footer %}

      <a class="" href="https://github.com/Mathe13/">
        Gostou? <i class="fab fa-github"></i> Ajude o projeto
      </a>

    <p>Bootstrap Theme Made By <a>www.w3schools.com</a></p>
  {% endblock %}

</footer>
<script>
function menu() {
    var menu = document.getElementById('dropdown-content')
    if (menu.style.display === "none") {
        menu.style.display = "block";
    } else {
        menu.style.display = "none";
    }
}
</script>
{% block script%}
{% endblock %}
</body>
</html>
