{% extends "base.html.njk" %}
{% block title %}
Rodovias Site
{% endblock %}
{% block style%}
{{super()}}
{% endblock %}
{% block body %}
<div class="container-fluid bg-1 text-center">
   
    <div style="color: #00000091;padding-left:10%;padding-right:10%;">
        <h3>
            Projeto Rodovias
        </h3>
        <p>
            Este projeto consiste na tentativa de desenvolver uma aplicação, que a partir
            dos sensores comumente encontrados em smartphones(acelerômetro e giroscópio)
            realize leituras periódicas a uma baixa taxa ao longo de uma rodovia para assim
            poder gerar uma estimativa do estado atual da mesma.
            O projetos consiste em duas partes um <a href="https://github.com/Mathe13/rodoviasApp" target="_blank">app</a>
            pelo qual as leituras são coletadas e uma <a href="https://github.com/Mathe13/rodoviasApi" target="_blank">api</a>
            que
            armazena os dados
            e gera algumas métricas para análise.
            Este projeto é uma colaboração da <a href="https://www.nottingham.ac.uk/" target="_blank">Universidade de
                Nottingham</a>,<a href="http://www.ufrgs.br/ufrgs/inicial" target="_blank">Universidade Federal do Rio
                Grande do sul(UFRGS)</a> e da <a href="https://www.uergs.rs.gov.br/inicial" target="_blank">Universidade
                Estadual Do rio Grande do Sul(UERGS)</a>
        </p>

    </div>
    <div style="color: #00000091;padding-left:10%;padding-right:10%;">
        <h3>
            Parceiros
        </h3>
    <img class="mySlides" id="Slide_1" style="width: 25%;height: 122px;display:inline-block" src="/icons/logos/logo_lapav.png">
    <img class="mySlides" id="Slide_2" style="width: 25%;height: 122px;display:inline" src="/icons/logos/logo_nottingham.jpg">
    <img class="mySlides" id="Slide_3" style="width: 25%;height: 122px;display:inline" src="/icons/logos/logo_uergs.png">
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    {# var slideIndex=0;
    var slides=['Slide_1','Slide_2','Slide_3']
    window.setInterval('nextSlide()', 3000);
    function nextSlide(){
        console.log('vai mudar',slides[slideIndex])
        document.getElementById(slides[slideIndex]).style.display = "none";
        if(slideIndex==2){
            slideIndex=0
            document.getElementById(slides[slideIndex]).style.display = "inline-block";
        }else{
            document.getElementById(slides[slideIndex+1]).style.display = "inline-block";
            slideIndex++;
        }
    } #}
</script>
{% endblock %}