{% extends "base.html.j2" %}
{% block imports %}
{{super()}}
<script src="../static/js/markercluster.js"></script>
<script src="../static/js/maps.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkK8945ckkbgGP93QtliiGL-ea84WJ8vo&callback=initMap">
</script>

<link rel="stylesheet" href="../static/css/maps.css">

{% endblock %}
{% block title %}
    Rodovias Mapa
{% endblock %}


{% block body%}
    <div id="map"></div>
{% endblock %}
